<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h2>All users</h2>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>

        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getName()}">Name</td>
            <td th:text="${user.getLastName()}">Last Name</td>
            <td th:text="${user.getAge()}">Age</td>

            <td>
                <form th:action="@{users/edit/{id}(id=${user.id})}" th:object="${user}">
                    <button type="submit">Edit</button>
                </form>
            </td>

            <td>
                <form th:method="delete" th:action="@{users/delete/{id}(id=${user.getId()})}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <form th:action="@{users/new}">
        <button type="submit">Add new</button>
    </form>
</div>

</body>
</html>